.banner{
    position: relative;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEPPv5yuXAqgrRuMICII1GtRveOrgASBSWdw&s);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
}